<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="cabme.data.Properties.Settings.contentConnectionString"
            connectionString="Data Source=localhost\SQL2008;Initial Catalog=content;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>