body
{
}
.page
{
	width: 100%;
	min-width: 100%;
	background-color: #fff;
	margin: 0px auto 0px auto;
	border: 1px solid #000;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}
.main
{
	padding: 0px;
	margin: 0px 8px 8px 8px;
}
h2
{
	font-size: 2.0em;
	margin: 0px;
}
h3
{
	font-size: 1.5em;
	margin: 0px;
}
.button
{
	margin: 5px auto;
	max-width: 270px;
	height: 60px;
}
#book
{
	font-size: 1.5em;
}
#book input, select
{	font-size: 1.0em;
	color: #555;
	width: 98%;
}
#book img
{
	max-height: 24px;
	max-width: 24px;
	margin: -5px auto;
}
#book .cell
{
	width: 28px;
}
.status
{
	font-size: 0.8em;
}
.clickMe
{
	cursor: pointer;
	text-decoration: underline;
}
.noImg
{
	margin-left: 32px;
}
@media screen and (max-width:300px)
{
	#book
	{
		font-size: 1.1em;
	}
	.noImg
	{
		margin-left: 4px;
	}
}
