<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Smtp" value="smtp.abrie.net" xdt:Locator="Match(key)"  xdt:Transform="SetAttributes"/>
    <add key="EmailUser" value="cabme@abrie.net" xdt:Locator="Match(key)"  xdt:Transform="SetAttributes"/>
    <add key="EmailPassword" value="cabme123#" xdt:Locator="Match(key)"  xdt:Transform="SetAttributes"/>
  </appSettings>
  <connectionStrings>
    <add name="cabme.data.Properties.Settings.contentConnectionString"
      connectionString="Data Source=&quot;41.76.209.156\mars,1433&quot;;Initial Catalog=cabmeKaF_content;Persist Security Info=True;User ID=cabmeKaF;Password=cabme123#"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>