@{
    ViewBag.Title = "View Bookings";
}
<h2>
    Bookings</h2>
<div style="float: right">
    <input type="image" class="refresh" src="~/images/refresh.png" alt="Refresh" data-bind="click: loadData"
        onclick="btnRefresh();" />
</div>
<article class="tabs">
    <h3 id="htab1">
        Waiting</h3>
    <h3 id="htab2">
        In progress</h3>
    <h3 id="htab3">
        Completed</h3>
    <h3 id="htab4">
        Missed</h3>
    <h3 id="htab5">
        Cancelled</h3>
    <div id="tab1" style="display: none">
        <div style="height: 100%">
            <div id="pendingBookings" style="display: none">
                <p>
                    You have new bookings awaiting confirmation. Refresh to view.</p>
            </div>
            <div data-bind="foreach: {data: openBookings, afterAdd: showNewBooking, beforeRemove: removeBooking}">
                <div class="table" style="width: 80%;" data-bind="fadeVisible: userAccepted, fadeVisible: taxiAccepted">
                    <div class="row">
                        <div class="cell">
                            <b>Phone Number: </b>
                        </div>
                        <div class="cell lastCell">
                            <div data-bind="text: phoneNumber, visible: taxiAccepted() == true || isTaxi == false || typeof isTaxi == 'undefined'">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell">
                            <b>People: </b>
                        </div>
                        <div class="cell lastCell">
                            <div data-bind="text: numberOfPeople">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell">
                            <b>Pickup Time: </b>
                        </div>
                        <div class="cell lastCell">
                            <div data-bind="text: pickupTime">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell">
                            <b>Suburb: </b>
                        </div>
                        <div class="cell lastCell">
                            <div data-bind="text: suburb">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cell">
                            <b>From: </b>
                        </div>
                        <div class="cell lastCell">
                            <div data-bind="text: addrFrom, visible: taxiAccepted() == true || isTaxi == false || typeof isTaxi == 'undefined'">
                            </div>
                        </div>
                    </div>
                    <div class="row" data-bind="visible: typeof addrTo != 'undefined' && addrTo != '' && addrTo != null">
                        <div class="cell">
                            <b>To: </b>
                        </div>
                        <div class="cell lastCell">
                            <div data-bind="text: addrTo, visible: taxiAccepted() == true || isTaxi == false || typeof isTaxi == 'undefined'">
                            </div>
                        </div>
                    </div>
                    <div class="row" data-bind="visible: taxiAccepted() == false && isTaxi == true">
                        <div class="cell">
                            <b>Driver Code: </b>
                        </div>
                        <div class="cell lastCell">
                            <input type="text" maxlength="8" style="width: 40px;" data-bind="value: refCode" />
                        </div>
                    </div>
                    <div class="row" data-bind="visible: taxiAccepted() == false && isTaxi == true">
                        <div class="cell">
                            <b>Minutes to arrival: </b>
                        </div>
                        <div class="cell lastCell">
                            <input type="text" maxlength="2" style="width: 40px;" data-bind="value: arrival" />
                        </div>
                    </div>
                    <div class="row" data-bind="visible: !userAccepted() && taxiAccepted() && isTaxi">
                        <div class="cell">
                        </div>
                        <div class="cell lastCell">
                            <div class="status">
                                Waiting for client to accept</div>
                        </div>
                    </div>
                    <div class="row" data-bind="visible: !taxiAccepted() && isTaxi">
                        <div class="cell">
                        </div>
                        <div class="cell lastCell">
                            <input type="button" class="button" value="Confirm" data-bind="click: $parent.confirm, visible: !taxiAccepted()" />
                            <input type="button" class="button" value="Reject" data-bind="click: $parent.reject" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-bind="visible: openBookings().length <= 0">
            <p>
                &nbsp; No bookings</p>
        </div>
    </div>
    <div id="tab2" style="display: none">
        <div data-bind="foreach: {data: acceptedBookings, afterAdd: showNewBooking}">
            <div class="table" style="width: 80%;">
                <div class="row">
                    <div class="cell">
                        <b>Phone Number: </b>
                    </div>
                    <div class="cell lastCell">
                        <div data-bind="text: phoneNumber">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="cell">
                        <b>People: </b>
                    </div>
                    <div class="cell lastCell">
                        <div data-bind="text: numberOfPeople">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="cell">
                        <b>Pickup Time: </b>
                    </div>
                    <div class="cell lastCell">
                        <div data-bind="text: pickupTime">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="cell">
                        <b>Suburb: </b>
                    </div>
                    <div class="cell lastCell">
                        <div data-bind="text: suburb">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="cell">
                        <b>From: </b>
                    </div>
                    <div class="cell lastCell">
                        <div data-bind="text: addrFrom">
                        </div>
                    </div>
                </div>
                <div class="row" data-bind="visible: typeof addrTo != 'undefined' && addrTo != '' && addrTo != null">
                    <div class="cell">
                        <b>To: </b>
                    </div>
                    <div class="cell lastCell">
                        <div data-bind="text: addrTo">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="cell">
                        <b>Driver Code: </b>
                    </div>
                    <div class="cell lastCell">
                        <div data-bind="text: refCode">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="cell">
                        <b>Expected Pickup:</b>
                    </div>
                    <div class="cell lastCell">
                        <div data-bind="text: expectedArrival()">
                        </div>
                    </div>
                </div>
                @*<div class="row" data-bind="visible: isTaxi == false">
                    <div class="cell">
                    </div>
                    <div class="cell lastCell">
                        <input type="button" class="button" value="Review" data-bind="click: $parent.review" />
                    </div>
                </div>*@
            </div>
        </div>
        <div data-bind="visible: acceptedBookings().length <= 0">
            <p>
                &nbsp; No bookings</p>
        </div>
    </div>
    <div id="tab3" style="display: none">
        <div data-bind="foreach: {data: completedBookings, afterAdd: showNewBooking}">
            <div class="table" style="width: 80%;">
                <div class="row">
                    <div class="cell">
                        <b>Phone Number: </b>
                    </div>
                    <div class="cell lastCell">
                        <div data-bind="text: phoneNumber">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="cell">
                        <b>People: </b>
                    </div>
                    <div class="cell lastCell">
                        <div data-bind="text: numberOfPeople">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="cell">
                        <b>Pickup Time: </b>
                    </div>
                    <div class="cell lastCell">
                        <div data-bind="text: pickupTime">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="cell">
                        <b>Suburb: </b>
                    </div>
                    <div class="cell lastCell">
                        <div data-bind="text: suburb">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="cell">
                        <b>From: </b>
                    </div>
                    <div class="cell lastCell">
                        <div data-bind="text: addrFrom">
                        </div>
                    </div>
                </div>
                <div class="row" data-bind="visible: typeof addrTo != 'undefined' && addrTo != '' && addrTo != null">
                    <div class="cell">
                        <b>To: </b>
                    </div>
                    <div class="cell lastCell">
                        <div data-bind="text: addrTo">
                        </div>
                    </div>
                </div>                
                <div class="row">
                    <div class="cell">
                        <b>Driver Code: </b>
                    </div>
                    <div class="cell lastCell">
                        <div data-bind="text: refCode">
                        </div>
                    </div>
                </div>
                @*<div class="row" data-bind="visible: isTaxi == false">
                    <div class="cell">
                    </div>
                    <div class="cell lastCell">
                        <input type="button" class="button" value="Review" data-bind="click: $parent.review" />
                    </div>
                </div>*@
            </div>
        </div>
        <div data-bind="visible: completedBookings().length <= 0">
            <p>
                &nbsp; No bookings</p>
        </div>
    </div>
    <div id="tab4" style="display: none">
        <div data-bind="foreach: {data: missedBookings, afterAdd: showNewBooking}">
            <div class="table" style="width: 80%;">
                <div class="row">
                    <div class="cell">
                        <b>Phone Number: </b>
                    </div>
                    <div class="cell lastCell">
                        <div data-bind="text: phoneNumber">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="cell">
                        <b>People: </b>
                    </div>
                    <div class="cell lastCell">
                        <div data-bind="text: numberOfPeople">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="cell">
                        <b>Pickup Time: </b>
                    </div>
                    <div class="cell lastCell">
                        <div data-bind="text: pickupTime">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="cell">
                        <b>Suburb: </b>
                    </div>
                    <div class="cell lastCell">
                        <div data-bind="text: suburb">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="cell">
                        <b>From: </b>
                    </div>
                    <div class="cell lastCell">
                        <div data-bind="text: addrFrom">
                        </div>
                    </div>
                </div>
                <div class="row" data-bind="visible: typeof addrTo != 'undefined' && addrTo != '' && addrTo != null">
                    <div class="cell">
                        <b>To: </b>
                    </div>
                    <div class="cell lastCell">
                        <div data-bind="text: addrTo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-bind="visible: missedBookings().length <= 0">
            <p>
                &nbsp; No missed bookings</p>
        </div>
    </div>
    <div id="tab5" style="display: none">
        <div data-bind="foreach: {data: cancelledBookings, afterAdd: showNewBooking}">
            <div class="table" style="width: 80%;">
                <div class="row">
                    <div class="cell">
                        <b>People: </b>
                    </div>
                    <div class="cell lastCell">
                        <div data-bind="text: numberOfPeople">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="cell">
                        <b>Pickup Time: </b>
                    </div>
                    <div class="cell lastCell">
                        <div data-bind="text: pickupTime">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="cell">
                        <b>Suburb: </b>
                    </div>
                    <div class="cell lastCell">
                        <div data-bind="text: suburb">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="cell">
                        <b>From: </b>
                    </div>
                    <div class="cell lastCell">
                        <div data-bind="text: addrFrom">
                        </div>
                    </div>
                </div>
                <div class="row" data-bind="visible: typeof addrTo != 'undefined' && addrTo != '' && addrTo != null">
                    <div class="cell">
                        <b>To: </b>
                    </div>
                    <div class="cell lastCell">
                        <div data-bind="text: addrTo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-bind="visible: cancelledBookings().length <= 0">
            <p>
                &nbsp; No cancelled bookings</p>
        </div>
    </div>
</article>
<input type="hidden" id="userName" value="@User.Identity.Name" />
@section scripts {
    @Scripts.Render("~/bundles/knockout")
    <script type="text/javascript" src="@Url.Content("~/Scripts/viewbooking.js")"></script>
    <script type="text/javascript">
        var taxiId;
        var userID = $('#userName').val();
    </script>
    @if (User.IsInRole("Taxi"))
    {
        <script type="text/javascript">
            var taxiHub;
            taxiId = userID;
            $(document).ready(function () {
                taxiHub = $.connection.taxiHub;
                taxiHub.pendingBooking = function () {
                    $('#pendingBookings').slideDown();
                };
                taxiHub.acceptedBooking = function (id) {
                    acceptedBooking(id);
                };
                taxiHub.cancelBooking = function (id) {
                    cancelBooking(id);
                };
                window.hubReady.done(function () {
                    taxiHub.announce(taxiId);
                });
            });
        </script>
    }
}
