@{
    ViewBag.Title = "Book a cab";
}
<h2>
    Coming soon
</h2>
<p>
    Disclaimer: This is a beta form and doesn't book a taxi.
</p>
<p>
Click on the map to select your pickup and drop off spots.
</p>
<div id="map_canvas" style="width: 100%; height: 400px"></div>
@section scripts {
    @Scripts.Render("~/bundles/knockout")
    <script type="text/javascript" src="@Url.Content("~/Scripts/makebooking.js")"></script>
}