<?xml version="1.0"?>
<configuration>
  <connectionStrings>    
  </connectionStrings>

  <system.web>
    <compilation debug="true"  />
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttp">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <services>
      <service name="cabme.web.Service.CabmeService">
        <endpoint behaviorConfiguration="webHttp"
          binding="webHttpBinding" contract="cabme.web.Service.ICabmeService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
